{% if election.poll_currently_open %}

<li class="election{% if election.valid %}{% else %} invalid{% endif %}">
<h3><a class="title-link" href="{% url referenda.election_detail slug=election.slug %}">{{ election.name }}</a> <span class="annotation grey">{% if election.valid %}polls close in {% ifnotequal election.days_remaining 0 %}{{election.days_remaining }}d {% endifnotequal %}{% ifnotequal election.hours_remaining 0 %}{{ election.hours_remaining }}h {% endifnotequal %}{{ election.minutes_remaining }}m{% else %}suspended{% endif %}</span></h3>
{% if election.valid %}
<p>Polls are open! Click here to vote.</p>
{% else %}
<p>Voting has been temporarily suspended because of an inconsistency in the voting process. Please contact your administrator for more details.</p>
{% endif %}
</li>

{% else %}

<li class="election{% if election.valid %}{% else %} invalid{% endif %}">
<h3><a class="title-link" href="{% url referenda.election_detail slug=election.slug %}">{{ election.name }}</a> <span class="annotation grey">polls open in {% ifnotequal election.days_until 0 %}{{election.days_until }}d {% endifnotequal %}{% ifnotequal election.hours_until 0 %}{{ election.hours_until }}h {% endifnotequal %}{{ election.minutes_until }}m</span></h3>
{% if election.valid %}
<p>This election has been approved by all its election authorities to open as scheduled.</p>
{% else %}
<p>This election has not yet been approved to open by all of its election authorities.</p>
{% endif %}
</li>

{% endif %}
