{% load markup %}
<h2>{{ race.name }}<br /><span class="grey">choose {{ race.num_choices }}</span></h2>
{{ race.description|textile }}
<p>Make up to {{ race.num_choices}} choice{{ race.num_choices|pluralize }}.</p>
<ul>
    {% if race.candidates.all %}
    {% for candidate in race.ordered_candidates %}
    {% include "referenda/candidate.html" %}
    {% endfor %}
    {% endif %}
    {% if race.allow_writeins %}
    {% for num in race.num_choices_iter %}
    {% include "referenda/writeincandidate.html" %}
    {% endfor %}
    {% endif %}
</ul>
<a class="button castvote">Cast vote</a>
