/*------------------------------------------------------------------------------
 * MAIN BLOCKS
 *----------------------------------------------------------------------------*/

html
{
    background: #410000 url("../img/bkgd.png") top left repeat-x;
}

#js-warning
{
    border: 2px #ff0000 solid;
    background: #ffe0e0;
}

#frame
{
    background: #e9e9e9 url('../img/frame_bkgd.png') top left repeat-x;
}
#frame div.bkgd
{
    background-repeat: repeat-y;
}
#frame div.bkgd.left
{
    background-image: url("../img/frame_shadow_left.png");
}
#frame div.bkgd.right
{
    background-image: url("../img/frame_shadow_right.png");
}

#header
{
    background: transparent url("../img/header.png") top left no-repeat;
}

#footer
{
    background: transparent url("../img/footer.png") top left repeat-x;
}

#inner-frame
{
    background: transparent url("../img/inner_frame_bkgd.png") top left repeat-y;
}

#inner-frame .cap.top
{
    background: url("../img/inner_frame_cap_top.png") bottom left no-repeat;
}

#inner-frame .cap.bottom
{
    background: url("../img/inner_frame_cap_bottom.png") bottom left no-repeat;
}

#advanced-panel
{
    background: #c1c8d0;
    border-left: 20px #1a1a1a solid;
}


/*------------------------------------------------------------------------------
 * ELEMENTS
 *----------------------------------------------------------------------------*/

div.center
{
    border: 1px #888888 dotted;
    background-color: #eeeeff;
}   

h1, h2, h3, h4, h5, a
{
    color: #1a1a1a;
}

#footer
{
    color: #e9e9e9;
}

a
{
    color: #6156ca;
}
a:hover
{
    color: #1a1a1a;
}
#footer a:hover
{
    color: #e9e9e9;
}

.grey
{
    color: #888888;
}

a img
{
    border: none;
}

ul
{
    list-style: none;
}

li.election
{
    background: url("../img/list_bullet.png") no-repeat 8px 15px;
}
li.election.hover
{
    background-color: #eeeeff;
    background-position: 7px 14px;
    border: 1px #1a1a1a dotted;
    cursor: pointer;
}
li.election.invalid.hover
{
    background-color: #ffeeee;
}
li.election.small
{
    background-position: 5px 8px;
}
li.election.small.hover
{
    background-position: 4px 7px;
}
li.election.invalid a.title-link
{
    color: #ca5661;
}
li.election.invalid a:hover
{
    color: #1a1a1a;
}
