#frame
{
    height: 100%;
}

#frame .bkgd
{
    display: none;
}

#main
{
    height: 300px;
}

li.hovered
{
    padding-left: 9px;
    padding-top: 9px;
}
li.election
{
    padding-top: 12px;
    padding-left: 12px;
    background-image: none;
}

#js-warning
{
    position: relative;
    z-index: 500;
}

.button.advanced
{
    background-image: url("../img/controlpanel_button_ie6.png");
}

#progress-frame li.current
{
    background-image: url("../img/current_arrow.png");
}

#progress-frame li.hovered
{
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}
