/*------------------------------------------------------------------------------
 * MAIN BLOCKS
 *----------------------------------------------------------------------------*/

html,
body
{
    height: 100%;
}

*
{
    margin: 0;
    padding: 0;
}

#js-warning
{
    padding: 4px;
    margin: 8px 15px;
}

#frame
{
    position: relative;
    min-height: 100%;
    width: 900px;
    margin: 0 auto;
}
#frame div.bkgd
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 29px;
}
#frame div.bkgd.left
{
    left: -29px;
}
#frame div.bkgd.right
{
    right: -29px;
}

#content-pane
{
    position: relative;
    z-index: 1;
    padding-bottom: 65px;
}

#header
{
    position: relative;
    height: 120px;
    width: 100%;
    z-index: 30;
}

#footer
{
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 870px;
    padding: 15px 15px;
}

#logo
{
    position: absolute;
    top: 39px;
    left: 15px;
}

#inner-frame
{
    position: relative;
    width: 886px;
    margin: 20px 14px 20px 0;
    overflow: hidden;
}

#inner-frame .cap
{
    width: 100%;
    height: 20px;
}

#main
{
    padding: 0 40px 0 20px;
    min-height: 300px;
}

#advanced-panel
{
    width: 700px;
    margin-left: -800px;
    position: relative;
    float: right;
    padding: 20px 20px 10020px 20px;
    position: relative;
    margin-bottom: -10000px;
}

/*------------------------------------------------------------------------------
 * ELEMENTS
 *----------------------------------------------------------------------------*/

.clear
{
    clear: both;
}

#advanced-panel .button
{
    position: absolute;
    top: 0;
    left: -54px;
}

li.election
{
    padding: 8px 8px 8px 25px;
}
li.election.hover
{
    border: 1px #1a1a1a dashed;
    padding: 7px 7px 7px 24px;
}
li.election.small
{
    padding: 2px 2px 2px 25px;
}
li.election.small.hover
{
    padding: 1px 1px 1px 24px;
}

ul.horizontal li
{
    display: inline;
}

ul.small li
{
    font-size: 12px;
}

dt
{
    margin: 8px 0 2px 0;
}

.column.long
{
    float: left;
    width: 540px;
}

.column.short
{
    float: right;
    width: 240px;
}

div.center
{
    width: 300px;
    margin: 60px auto;
    padding: 30px 20px;
    text-align: center;
}

.clear + .column
{
    margin-top: 20px;
}
