a.button
{
    display: inline-block;
    overflow: hidden;
    padding-top: 36px;
    width: 94px;
    height: 0;
    background-repeat: repeat-y;
    background-position: 0px 0px;
    cursor: pointer;
    margin: 10px 0;
}
a.button:hover
{
    background-position: 0 36px;
}

a.button.advanced
{
    margin: 0;
    padding-top: 99px;
    width: 54px;
    background-image: url("../img/controlpanel_button.png");
}
a.button.advanced:hover
{
    background-position: 0px 0px;
}
a.button.votenow
{
    background-image: url("../img/button_votenow.png");
}
a.button.login
{
    background-image: url("../img/button_login.png");
}
a.button.continue
{
    background-image: url("../img/button_continue.png");
}
a.button.cancel
{
    background-image: url("../img/button_cancel.png");
}
a.button.submitballot
{
    width: 118px;
    background-image: url("../img/button_submitballot.png");
}
a.button.castvote
{
    background-image: url("../img/button_castvote.png");
}

#advanced-panel a.button
{
    position: absolute;
    top: 0;
    left: -54px;
}

p.wait
{
    text-align: left;
    padding-left: 22px;
    line-height: 16px;
    background: transparent url("../img/wait16white.gif") 0px 0px no-repeat;
}
.center p.wait
{
    background-image: url("../img/wait16blue.gif");
}

a.checkbox
{
    padding: 2px 2px 2px 20px;
    background: url("../img/checkbox_off.png") 0px 4px no-repeat;
    cursor: pointer;
}
a.checkbox.checked
{
    background-image: url("../img/checkbox_on.png");
}

#progress-frame li
{
    font-weight: bold;
    padding-left: 25px;
    font-size: 14px;
    background-position: 5px 4px;
    background-repeat: no-repeat;
}
#progress-frame li a
{
    cursor: pointer;
}
#progress-frame li.in-progress
{
    background-image: url("../img/checkbox_off.png");
}
#progress-frame li.completed
{
    background-image: url("../img/checkbox_on.png");
}
#progress-frame li.current
{
    background-image: url("../img/current_arrow.png");
}
#progress-frame li.hovered.current
{
    background-image: url("../img/current_arrow_blue.png");
}

li.candidate div.checkbox
{

    float: left;
    background: transparent url("../img/checkbox_off.png") 0px 34px no-repeat;
    height: 80px;
    width: 12px;
}
li.candidate.selected div.checkbox
{
    background-image: url("../img/checkbox_on.png");
}

/*------------------------------------------------------------------------------
 * MODAL DIALOGS
 *----------------------------------------------------------------------------*/

.simplemodal-overlay
{
    background-color: #1a1a1a;
}
.simplemodal-container
{
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 5px #1a1a1a solid;
    width: 400px;
    min-height: 80px;
}
