*
{
    font-family: "verdana", sans-serif;
}

h1, h2, h3, h4, h5,
h1 *, h2 *, h3 *, h4 *, h5 *,
a,
label,
.link-style
{
    font-weight: normal;
}

h1
{
    width: 100%;
    border-bottom: 1px solid;
    font-size: 24px;
    margin-bottom: 8px;
}

h2
{
    width: 80%;
    border-bottom: 1px solid;
    font-size: 18px;
    margin-bottom: 8px;
}
* + h2
{
    margin-top: 20px;
}

p
{
    font-size: 12px;
    margin: 8px 0;
}

a,
button
{
    font-weight: bold;
    text-decoration: none;
}

dt
{
    font-weight: bold;
}
