*
{
    font-family: "verdana", sans-serif;
}

pre
{
    font-family: monospace;
}

h1, h2, h3, 
h1 *, h2 *, h3 *, 
h1 a, h2 a, h3 a,
label,
.link-style
{
    font-weight: normal;
}

h1
{
    width: 100%;
    border-bottom: 1px #888888 solid;
    font-size: 24px;
    margin-bottom: 8px;
}
h2
{
    width: 90%;
    border-bottom: 1px #888888 solid;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 20px;
}
h4
{
    font-size: 14px;
    margin: 5px 0;
}

span.annotation
{
    font-size: 10px;    
    line-height: 18px;
    vertical-align: middle;
    padding: 2px 0 6px 0;
}

p
{
    font-size: 12px;
    margin: 8px 0;
}

label
{
    font-size: 12px;
}

a,
button
{
    font-weight: bold;
    text-decoration: none;
}

dt
{
    font-weight: bold;
    font-size: 14px;
}
dt .link,
dd .link,
span.link
{
    font-size: 9px;
    vertical-align: middle;
    padding-bottom: 4px;
}
dd
{
    font-size: 12px;
}

.important
{
    font-weight: bold;
}

#footer,
#footer p
{
    font-size: 10px;
    margin-bottom: 0;
}
#footer a
{
    font-weight: normal;
}

li
{
    font-size: 12px;
}
li.candidate h3,
li.election h3
{
    font-size: 18px;
}
