<div class="cap top"></div>
<div id="main">
    <div class="column long">
        <h1>Vote - {{ election.name }}</h1>
        <div id="panel-frame">
            <div id="panel_setup">
                <h2>Setup</h2>
                <p>You are now in <strong>voting mode</strong>. From now until you submit your final ballot:</p>
                <ol>
                    <li><p><strong>DO NOT PRESS THE "BACK" BUTTON OR REFRESH THE PAGE. YOU WILL HAVE TO START OVER</strong>. You have been warned.</p></li>
                    <li><p>Most links have been disabled to prevent you from accidentally leaving your voting session.</p></li>
                </ol>
            </div>
            {% for race in election.races.all %}
            <div id="panel_{{ race.slug }}" class="race" style="display: none;">
                {% include "referenda/elements/race.html" %}
            </div>
            {% endfor %}
            <div id="panel_finalize" style="display: none;">
                <h2>Finalize</h2>
                <h4>Your ballot choices:</h4>
                <div id="final_ballot">
                </div>
                <p>Please take a moment to ensure that the votes you have made above are correct before submitting your ballot. If not, click on one of the links on the right to go back and modify your selections.</p>
                <a id="submit_ballot" class="button submitballot">Submit ballot</a>
            </div>
        </div>
    </div>
    <div class="column short">
        <h1>Progress</h1>
        <div id="progress-frame">
            <ul>
                <li id="progress_setup" class="in-progress">Setup</li>
                {% for race in election.races.all %}
                <li id="progress_{{ race.slug }}"><a>{{ race.name }}</a></li>
                {% endfor %}
                <li id="progress_finalize"><a>Finalize</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="cap bottom"></div>
