<div id="advanced-panel" style="right: -760px">
    <a class="button advanced">Advanced</a>
    <h1>Advanced Control Panel</h1>
    <p>This control panel gives you access to everything that's going on "under the hood" in Referenda. <strong>WARNING: IF YOU DON'T KNOW WHAT YOU'RE DOING, YOU CAN VERY EASILY RUIN YOUR VOTE.</strong></p>
    <p>If you don't know what ElGamal encryption and public-key cryptography are, you should leave this panel alone.</p>
</div>
<div class="cap top"></div>
<div id="main">
    <div class="column long">
        <h1>{{ election.name }}</h1>
        <div id="race-frame">
        </div>
    </div>
    <div class="column short">
        <h1>Progress</h1>
        <div id="progress-frame">
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="cap bottom"></div>
