<h2>Setup</h2>
<p>You are now in <strong>voting mode</strong>. From now until you submit your final ballot:</p>
<ol>
    <li><p><strong>DO NOT PRESS THE "BACK" BUTTON OR REFRESH THE PAGE. YOU WILL HAVE TO START OVER</strong>. You have been warned.</p></li>
    <li><p>Most links have been disabled to prevent you from accidentally leaving your voting session.</p></li>
    <li><p>If you're a security-conscious user, you can take a look at the "advanced" tab on the right.</p></li>
</ol>
<p>A "continue" button will appear below when everything's ready. Be patient! Cryptography can take a minute or two.</p>
<p id="encryption_notice" class="wait">Please wait while we generate your encryption keys...</p>
