<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>[ASUPS] {% block title %}UNTITLED{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ REFERENDA_MEDIA_PREFIX }}/css/screen.css" />
    <!--[if lte IE 0]><script type="text/javascript" src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js"></script><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{REFERENDA_MEDIA_PREFIX }}/css/ie7.css" /><![endif]-->
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ REFERENDA_MEDIA_PREFIX }}/css/ie6.css" /><![endif]-->
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
    <script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX }}/script/jquery.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <div id="frame">
        <div id="content-pane">
            <div id="header">
                <a id="logo" href="/"><img alt="Referenda - Power to the people." src="{{ REFERENDA_MEDIA_PREFIX }}/img/logo.png" width="396" height="66" /></a>
            </div>
            <div id="inner-frame">
                <div class="cap top"></div>
                <div id="main">
                    {% block main %}{% endblock %}
                    <div class="column long">
                        <h1>Welcome</h1>
                        <p>Welcome to Referenda, the open-source, open-audit voting system (<a href="/about/">what does that mean?</a>). Referenda puts the power back in your hands. Look below to find an election to vote in.</p>
                    </div>
                    <div class="column short">
                        <h1>Administrators</h1>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="cap bottom"></div>
            </div>
            <div id="footer">
                <ul class="horizontal">
                </ul>
            </div>
        </div>
        <div class="bkgd left"></div>
        <div class="bkgd right"></div>
    </body>
</html>
