{% extends "referenda/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block main %}
<div class="column long">
    <h1>{{ object.name }}</h1>
    {% if object.is_upcoming %}<p>This election is scheduled to begin soon. Polls open <strong>{{ object.poll_opens|date:"F\&\n\b\s\p\;j,\&\n\b\s\p\;Y"|safe }}</strong> at <strong>{{ object.poll_opens|date:"g:i\&\n\b\s\p\;A"|safe }}</strong>.</p>{% endif %}
    {% if object.is_current %}<p>This election is currently in progress. Polls close <strong>{{ object.poll_closes|date:"F\&\n\b\s\p\;j,\&\n\b\s\p\;Y"|safe }}</strong> at <strong>{{ object.poll_closes|date:"g:i\&\n\b\s\p\;A"|safe }}</strong>.</p>{% endif %}
    {% if object.is_past %}<p>This election is over.</p>{% endif %}
    <h2>Races for this election</h2>
    {% if object.races.all %}
    <ul>
        {% for race in object.races.all %}
        <li>{{ race.name }} <span class="link">(<a href="{% url referenda.race_detail race.election.slug race.slug %}">detail&nbsp;&#187;</a>)</span></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.is_submissible %}<a class="button votenow" href="{% url referenda.voter_login object.slug %}">Vote Now!</a>{% endif %}
</div>
<div class="column short">
    <h1>Administrators</h1>
    <dl>
        <dt>Adminstrator <span class="link">(<a href="#">login&nbsp;&#187;</a>)</span></dt>
        <dd>{{ object.administrator.first_name }} {{ object.administrator.last_name }} <span class="link">(<a href="mailto:{{ object.administrator.email }}">contact</a>)</span></dd>
        <dt>Election Authorities <span class="link">(<a href="#">login&nbsp;&#187;</a>)</span></dt>
        {% if object.authorities %}
        {% for authority in object.authorities.all %}
        <dd>{{ authority.user.first_name }} {{ authority.user.last_name }} <span class="link">(<a href="mailto:{{ authority.user.email }}">contact</a>)</span></dd>
        {% endfor %}
        {% else %}
        <dd>This election does not currently have any election authorities.</dd>
        {% endif %}
    </dl>
    <a class="button previewballot" href="{% url referenda.ballot_preview object.slug %}">Preview Ballot</a>
</div>

{% endblock %}
