{% extends "referenda/base.html" %}

{% block main %}
<div class="column long">
    <h1>Welcome</h1>
    <p>Welcome to Referenda, the open-source, open-audit voting system (<a href="/about/">what does that mean?</a>). Referenda puts the power back in your hands. Look below to find an election to vote in.</p>
    <h2>Current Elections</h2>
    <ul>
        <li class="election">
        <h3><a href="#">ASUPS Spring Elections (2009)</a> <span class="annotation grey">polls close in 12h 42m</span></h3>
        <p>Polls are open! Click here to vote.</p>
        </li>
    </ul>
    <h2>Upcoming Elections</h2>
    <p>There are no upcoming elections.</p>
</div>
<div class="column short">
    <h1>Past Elections</h1>
</div>
{% endblock %}
