{% extends "referenda/base.html" %}

{% block main %}
<div class="column long">
    <h1>Welcome</h1>
    <p>Welcome to Referenda, the open-source, open-audit voting system (<a href="/about/">what does that mean?</a>). Referenda puts the power back in your hands. Look below to find an election to vote in.</p>
    <h2>Current Elections</h2>
    <p>There are no current elections.</p>
    <h2>Upcoming Elections</h2>
    <p>There are no upcoming elections.</p>
</div>
<div class="column short">
    <h1>Administrators</h1>
</div>
{% endblock %}
