{% extends "referenda/base.html" %}

{% block script %}
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/jquery.timers-1.1.2.js"></script>
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/jquery.watermark.js"></script>
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/jquery.json.js"></script>
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/jquery.simplemodal-1.2.2.min.js"></script>
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/vote.js"></script>
<script type="text/javascript">
    $(document).ready(function() {control.activate_controls()});
</script>
{% endblock %}

{% block notification %}
<ul>
    <li><p>NOTE: This is a preview ballot. To return to the election detail screen, <a href="{% url referenda.election_detail election_slug %}">click here</a>.</p></li>
</ul>
{% endblock %}

{% block innerframe %}
<div class="cap top"></div>
<div id="main">
    <div class="column long">
        <h1>{{ election.name }}</h1>
        <div id="panel-frame">
            <div id="panel_setup">
                <h2>Setup</h2>
                <p>This is a preview ballot. You can navigate to different races on the right to review the candidates for that particular race.</p>
            </div>
            {% for race in election.races.all %}
            <div id="panel_{{ race.slug }}" class="race" style="display: none;">
                {% include "referenda/race.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column short">
        <h1>Races</h1>
        <div id="progress-frame">
            <ul>
                <li id="progress_setup" class="in-progress">Setup</li>
                {% for race in election.races.all %}
                <li id="progress_{{ race.slug }}"><a>{{ race.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="cap bottom"></div>
{% endblock %}
