{% extends "referenda/base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block main %}
<div class="column long">
    <h1>{{ object.name }}</h1>
    <p>Votes which have been cast in this race will appear below.</p>
    <h2>Bulletin board</h2>
    {% if object.sealedvotes.all %}
    <p>Total votes: {{ object.sealedvotes.count }} | <a href="{% url referenda.bulletinboard object.election.slug object.slug %}">Download JSON file</a></p>
    <dl class="table bulletinboard">
        {% for vote in object.sealedvotes.all %}
        <dt>{{ vote.user_id }}</dt>
        <dd><pre>{{ vote.ballot.block|safe }}</pre></dd>
        {% endfor %}
    </dl>
    <div class="clear"></div>
    {% endif %}
</div>
<div class="column short">
    <h1>Candidates</h1>
    {% if object.candidates.all %}
    <ul>
        {% for candidate in object.candidates.all %}
        <li>{{ candidate }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}
