{% extends "referenda/base.html" %}

{% block script %}
<script type="text/javascript" src="{{ REFERENDA_MEDIA_PREFIX}}/js/libvote.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
                set_panel_slide();
            });
</script>
{% endblock %}

{% block advanced-panel %}
<div id="advanced-panel" style="right: -760px">
    <a class="button advanced">Advanced</a>
    <h1>Advanced Control Panel</h1>
    <p>This control panel gives you access to everything that's going on "under the hood" in Referenda. <strong>WARNING: IF YOU DON'T KNOW WHAT YOU'RE DOING, YOU CAN VERY EASILY RUIN YOUR VOTE.</strong></p>
    <p>If you don't know what ElGamal encryption and public-key cryptography are, you should leave this panel alone.</p>
</div>
{% endblock %}

{% block main %}
<div class="column long">
    <h1>ASUPS Spring Elections (2009)</h1>
    <h2>ASUPS Vice President (choose one)</h2>
    <p>Choose any one candidate.</p>
</div>
<div class="column short">
    <h1>Progress</h1>
    <ul>
        <li class="progress-item completed"><a>My Other Race</a></li>
        <li class="progress-item in-progress"><a>My race</a></li>
        <li class="progress-item"><a>My future race</a></li>
    </ul>
</div>
{% endblock %}
